body{
	margin: 0px;
	padding: 0px;
}

nav, section, footer {
	padding: 0px 6vw 0px 6vw;
}

h1, h2, h3 {
	color: black;
	font-family: 'DM Serif Display', sans-serif;
	line-height: 18px;
}

h1 {
	font-size: 30px;
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
}


h2{
	font-size: 26px;
	text-align: center;
}

h3{
	font-size: 22px;
	text-align: left;
}

p {
	font-family:  'Montserrat', sans-serif;
	font-size: 18px;
	line-height: 1.5em;
}

a {
	font-family: 'Montserrat', sans-serif;
	color: #ba68c8;
	font-size: 18px;
}

nav {
	background-color: white;
	position: sticky;
	top: 0px;
	height: 10vh;
	z-index: 1;
}

.logo img{
	height: 10vh;
}

.menulinks {
	width: 160px;
	float: right;
	line-height: 10vh;
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 22px;
}

.menulinks:hover{
	background-color: black;
	color: white;
}

#herosection {
	display: flex;
	height: 90vh;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(white,#bbb5c3);
}

#herosection div:first-child{
	padding: 4%;
	flex-basis: 42%;
}

#herosection div:last-child{
	flex-basis: 50%;
	align-self: flex-end;
}

#herosection img{
	width: 100%;

	/*	Fix for the image displaying 4 px higher than the down border of the section. 
	Reason for it displaying in such way is unknown. I tried setting padding and margin to 0, but unsuccessful.*/

	position: relative;
	bottom: -4px;
	z-index: 0;
}

#herosection div h1 {
	text-align: center;
}

#herosection p {
	text-align: center;
}

#herosection p:first-of-type {
	text-align: right;
}

.button{
	display: flex;
	align-items: center;
	justify-content: center;	
}
.button a{
	font-family: 'Montserrat';
	color: black;
	font-weight: bold;
	text-decoration: none;
	font-size: 22px;
	cursor: pointer;
	padding: 16px 8px 16px 8px;
	transition: 0.4s;
	background-color: #ee98fb;
}

.button a:hover{
	transform: scale(1.05);
	box-shadow: 2px 6px 8px grey;
}

#googlereviewssection #reviews{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 8px;
}

#googlereviewssection .review {
	transition: 0.5s;
}
#googlereviewssection .review:hover {
	transform: translate(0,-12px);
}

#googlereviewssection .reviewbody{
	width: 330px;
	height: 140px;
	background-color: #efefef;
	padding: 12px;
	border-radius: 8px;
	overflow: scroll;
}

#googlereviewssection .reviewbody ul{
	display: inline;
	padding: 0px;
	list-style-type: none;
}

#googlereviewssection .reviewbody li{
	display: inline;
}

#googlereviewssection .reviewbody .star{
	width: 20px;
	height: 20px;
}

#googlereviewssection .reviewbody .ggl{
	width: 20px;
	heigth: 20px;
	float: right;
}

#googlereviewssection .reviewbody p{
	font-family: 'Open Sans';
	font-size: 14px;
}

#googlereviewssection .review .triangle {
	width: 0px;
	height: 0px;
	border: 12px solid transparent;
	border-top: 12px solid #efefef;
	border-bottom: 0px;
	position: relative;
	left: 20px;
}

#googlereviewssection .review .photo{
	width: 45px;
	height: 45px;
	position: relative;
	left: 10px;
	top: 8px;
}

#googlereviewssection .review>p{
	font-family: 'Open Sans';
	font-weight: bold;
	height: 45px;
	position: relative;
	left: 20px;
	display: inline-block;
	vertical-align: middle;
}

#insurances-section div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#insurances-section p {
	text-align: center;
}

#insurances-section img {
	max-height: 120px;
	transition: 0.5s;
}

#insurances-section img:hover {
	transform: translate(0,-12px);
}

#dentalservices .button{
	justify-content: flex-end;
}

#youareinsafehands>div{
	display: flex;
	justify-content: center;
	align-items: center;
}

#youareinsafehands>div>div{
	flex: 1;
}

#youareinsafehands>div>div:last-child{
	display: flex;
	justify-content: center;
	align-items: center;
}

#youareinsafehands img{
	width: 300px;
}










#whatsappbutton{
	position: fixed;
	bottom: 16px;
	right: 6vw;
}

#whatsappbutton img{
	width: 60px;
	box-shadow: 2px 6px 8px grey;
	border-radius: 22%;
	transition: 0.3s;
}

#whatsappbutton img:hover{
	transform: scale(1.5);
}








footer{
	text-align: center;
	background-image: linear-gradient(#ede7f6,#bbb5c3);
	padding-top: 16px;
	padding-bottom: 16px;
}

footer .flex-container{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

footer h1{
	padding-bottom: 24px;
}


footer a{
	color: black;
}

footer .contacts, .map {
	flex: 1;
}

footer .contacts img {
	width: 18px;
}

footer .social img{
	width: 40px;
	padding: 0 8px 0 8px;
}

footer .map img {
	width: 500px;
}

