/*	
	------------------------------
	Global 
	------------------------------
*/

/* Variables  */

:root {
	--global-box-shadow: 2px 2px 14px rgb(56, 56, 56);
	--global-horizontal-padding: 6vw;
	--global-vertical-padding: 3vh;
	--global-transition: 0.2s ease-out;
	--global-border-radius: 0;
	--global-transform-scale: 1.1;
	--global-transform: translateY(-12px);
	--min-width-laptop-breakpoint: 768px;
	--hamburger-icon-line-start-position: 16px;
	--hamburger-icon-line-end-position: 24px;
}

body{
	margin: 0px;
	padding: 0px;
}

header, section, footer {
	padding: 
		var(--global-vertical-padding) 
		var(--global-horizontal-padding) 
		var(--global-vertical-padding)
		var(--global-horizontal-padding);
}

/*	
	------------------------------
	Global Typography 
	------------------------------
*/

h1, h2, h3 {
	color: black;
	font-family: 'DM Serif Display', sans-serif;
	line-height: 1.5;
}

h1 {
	font-size: 30px;
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
}


h2{
	font-size: 26px;
	text-align: center;
}

h3{
	font-size: 22px;
	text-align: left;
}

p, input, label, ul, ol {
	font-family:  'Montserrat', sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

.headline {
	text-align: center;
	font-size: 20px;
	font-style: italic;
	padding-bottom: 16px;
}


a {
	font-family: 'Montserrat', sans-serif;
	color: #ba68c8;
	font-size: 18px;
}

em {
	font-weight: 600;
}

/*	
	------------------------------
	Global Button 
	------------------------------
*/

.button{
	display: flex;
	align-items: center;
	justify-content: center;	
	padding: 16px 0;

}

.button a{
	background-color: #edadf7;
	font-family: 'Montserrat';
	color: black;
	font-weight: bold;
	text-decoration: none;
	font-size: 22px;
	cursor: pointer;
	padding: 16px 8px 16px 8px;
	transition: var(--global-transition);
	border-radius: var(--global-border-radius);
}

.button a:hover{
	transform: var(--global-transform);
	box-shadow: var(--global-box-shadow);
	color: white;
	background-color: #d16ae0;
}

/*	
	------------------------------
	Global Image 
	------------------------------
*/

.global-image-preset {
	box-shadow: var(--global-box-shadow);
	border-radius: var(--global-border-radius);
	transition: var(--global-transition);
	
}

.global-image-preset:hover {
	transform: var(--global-transform);
}

/*	
	------------------------------
	Header 
	------------------------------
*/

header {
	position: sticky;
	top: 0px;
	height: 10vh;
	z-index: 1;
	padding-bottom: 0;
	background-color: rgba(255, 255, 255);
	box-shadow: var(--global-box-shadow);
	padding-top: 0;
}

.logo img{
	height: 8vh;
	padding: 1vh 0;
}

header nav {
	max-height: 0;
	overflow: hidden;
	transition: var(--global-transition);
}

nav ul {
	padding: 0;
	margin: 0;
}

.hamburger-icon {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;

	/* Increase the icon size to make the tappable area bigger.
		This element itself is not visible */
	height: 50px;
	width: 50px;

	/* Shift the icon to the right with a small offset the make the tappable area to the right */
	right: calc(var(--global-horizontal-padding) - 12.5px);
}

.hamburger-line {
    background: black;
    display: block;
    position: absolute;

	/* Shift the lines to align with --global-horizontal-padding.
		This came to be because of the shift of .hamburger-icon 
		to make the tappable are bigger */
	right: 12.5px;

    height: 2px;
    width: 25px;
    transition: var(--global-transition);
}

#hamburger-line-1 {
	top: var(--hamburger-icon-line-start-position);
}

#hamburger-line-2 {
	top: 0;
	bottom: 0;
	margin: auto;
}

#hamburger-line-3{
	bottom: var(--hamburger-icon-line-start-position);
}

#hamburger-input-checkbox {
    display: none;
}

#hamburger-input-checkbox:checked ~ nav{
    max-height: none;
    height: 90vh;
	position: absolute;
	top: 10vh;
	left: 0;
	width: 100vw;
	display: flex;
	justify-content: center;
	background-image: linear-gradient(white,#bbb5c3);

}

#hamburger-input-checkbox:checked ~ .hamburger-icon #hamburger-line-2 {
    background: transparent;
}
#hamburger-input-checkbox:checked ~ .hamburger-icon #hamburger-line-1 {
    transform: rotate(45deg);
    top: var(--hamburger-icon-line-end-position);
}
#hamburger-input-checkbox:checked ~ .hamburger-icon #hamburger-line-3 {
    transform: rotate(-45deg);
    bottom: var(--hamburger-icon-line-end-position);
}

header nav ul {
	list-style: none;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
}

header nav ul li {
	width: 100%;
}

nav ul a {
	display: block;
	text-decoration: none;
	color: black;
	font-size: 18px; 
	padding: 0 6px;
	line-height: 10vh;
	transition: var(--global-transition);
}

nav a:hover{
	/* background-color: black; */
	/* color: white; */
	font-weight: 700;
	text-decoration: underline;
}

/* Responsiveness */
@media screen and (min-width: 768px) {
    header nav{
        max-height: none;
        float: right;
    }
	
	header nav ul li {
		width: auto;
	}

	.phone-and-whatsapp-in-nav {
		display: none;
	}


    .hamburger-icon{
        display: none;
    }
}


/*	
	------------------------------
	Footer 
	------------------------------
*/

footer {
	text-align: center;
	background-image: linear-gradient(#ede7f6,#bbb5c3);
}

#footer-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 16px;
}

#contacts, #map {
	max-width: 100%;
}

@media screen and (min-width: 768px) {
	#contacts, #map {
		max-width: 40vw;
	}
}

footer h1 {
	padding-bottom: 24px;
}


.contact-text-link {
	color: black;
}


.contact-icon {
	width: 18px;
}

.social-image {
	width: 40px;
	padding: 0 8px 0 8px;
	transition: var(--global-transition);
}

.social-image:hover {
	transform: var(--global-transform);
}



