/* Variables  */

:root {
	--global-box-shadow: 2px 2px 14px rgb(56, 56, 56);
	--global-horizontal-padding: 6vw;
	--global-vertical-padding: 3vh;
	--global-transition: 0.2s ease-out;
	--global-border-radius: 0;
	--global-transform-scale: 1.1;
	--global-transform: translateY(-12px);
	--min-width-laptop-breakpoint: 768px;
	--hamburgerLine-start-position: 16px;
	--hamburgerLine-end-position: 24px;


	--primary-color: rgb(216, 137, 228);;
	--primary-color-light: rgb(237, 173, 247);
	--primary-color-light-2: rgb(252, 233, 255);
	--primary-color-dark: rgb(228, 124, 244);
	--gradient: 33deg, var(--primary-color-light-2), 80%, var(--primary-color-light);
}

body {
	margin: 0px;
	padding: 0px;
}

header, 
section, 
footer {
	padding: 
		var(--global-vertical-padding) 
		var(--global-horizontal-padding) 
		var(--global-vertical-padding)
		var(--global-horizontal-padding);
}

/*	
	------------------------------
	Global Typography 
	------------------------------
*/

h1, 
h2, 
h3 {
	color: black;
	font-family: 'DM Serif Display', sans-serif;
	line-height: 1.5;
}

h1 {
	font-size: 30px;
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
}


h2 {
	font-size: 26px;
	text-align: center;
}

h3 {
	font-size: 22px;
	text-align: left;
}

p, 
input, 
label, 
ul, 
ol, 
a {
	font-family:  'Montserrat', sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

.headline {
	text-align: center;
	font-size: 20px;
	font-style: italic;
	padding-bottom: 16px;
}


a {
	color: var(--primary-color-dark);
}

em {
	font-weight: 600;
}

/*	
	------------------------------
	Global Button 
	------------------------------
*/

.button {
	display: flex;
	align-items: center;
	justify-content: center;	
	padding: 16px 0;
}

.button a {
	min-width: 200px;
	text-align: center;
	background-color: var(--primary-color-dark);
	font-family: 'Montserrat';
	color: black;
	font-weight: bold;
	text-decoration: none;
	font-size: 22px;
	cursor: pointer;
	padding: 16px 8px 16px 8px;
	transition: var(--global-transition);
	border-radius: var(--global-border-radius);
}

.button a:hover {
	transform: var(--global-transform);
	box-shadow: var(--global-box-shadow);
	color: white;
}

/*	
	------------------------------
	Global Image 
	------------------------------
*/

.global-image-preset {
	box-shadow: var(--global-box-shadow);
	border-radius: var(--global-border-radius);
	transition: var(--global-transition);
	
}

.global-image-preset:hover {
	transform: var(--global-transform);
}

/*	
	------------------------------
	Contact and Social Media Icons 
	------------------------------
*/

.contactIcon {
	width: 18px;
}

.socialMedia {
	width: 40px;
	padding: 0 8px 0 8px;
	transition: var(--global-transition);
}

.socialMedia:hover {
	transform: var(--global-transform);
}

/*	
	------------------------------
	Header 
	------------------------------
*/

header {
	position: sticky;
	top: 0px;
	height: 10vh;
	z-index: 1;
	padding-bottom: 0;
	background-color: white;
	box-shadow: var(--global-box-shadow);
	padding-top: 0;
}

#logo {
	height: 8vh;
	padding: 1vh 0;
}

#headerMenu {
	max-height: 0;
	overflow: hidden;
	transition: var(--global-transition);
}

#headerMenu ul {
	padding: 0;
	margin: 0;
}

#headerMenu ul {
	list-style: none;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
}

#headerMenu ul li {
	width: 100%;
}

.headerMenu-link {
	display: block;
	text-decoration: none;
	color: black;
	font-size: 18px; 
	padding: 0 6px;
	line-height: 10vh;
	transition: var(--global-transition);
}

.headerMenu-link:hover{
	/* background-color: black; */
	/* color: white; */
	font-weight: 700;
	text-decoration: underline;
}

#hamburger {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;

	/* Increase the icon size to make the tappable area bigger.
		This element itself is not visible */
	height: 50px;
	width: 50px;

	/* Shift the icon to the right with a small offset the make the tappable area to the right */
	right: calc(var(--global-horizontal-padding) - 12.5px);
}

.hamburgerLine {
    background: black;
    display: block;
    position: absolute;

	/* Shift the lines to align with --global-horizontal-padding.
		This came to be because of the shift of .hamburger 
		to make the tappable are bigger */
	right: 12.5px;

    height: 2px;
    width: 25px;
    transition: var(--global-transition);
}

#hamburgerLine-1 {
	top: var(--hamburgerLine-start-position);
}

#hamburgerLine-2 {
	top: 0;
	bottom: 0;
	margin: auto;
}

#hamburgerLine-3{
	bottom: var(--hamburgerLine-start-position);
}

#hamburger-checkbox {
    display: none;
}

#hamburger-checkbox:checked ~ #headerMenu{
    max-height: none;
    height: 90vh;
	position: absolute;
	top: 10vh;
	left: 0;
	width: 100vw;
	display: flex;
	justify-content: center;
	background-image: linear-gradient(white,#bbb5c3);

}

#hamburger-checkbox:checked ~ #hamburger #hamburgerLine-2 {
    background: transparent;
}
#hamburger-checkbox:checked ~ #hamburger #hamburgerLine-1 {
    transform: rotate(45deg);
    top: var(--hamburgerLine-end-position);
}
#hamburger-checkbox:checked ~ #hamburger #hamburgerLine-3 {
    transform: rotate(-45deg);
    bottom: var(--hamburgerLine-end-position);
}

/* Responsiveness */
@media screen and (min-width: 768px) {
    #headerMenu {
        max-height: none;
        float: right;
    }
	
	#headerMenu ul li {
		width: auto;
	}

	.headerMenu-phoneAndWhatsapp {
		display: none;
	}


    #hamburger{
        display: none;
    }
}


/*	
	------------------------------
	Footer 
	------------------------------
*/


footer {
	text-align: center;
	background-image: linear-gradient(#ede7f6,#bbb5c3);
	clear: both;
}

#footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 16px;
}

#footer-contacts, 
#footer-map {
	width: 100%;
}

#footer-map {
	height: 300px;
	border: 1px solid black;
}

@media screen and (min-width: 768px) {
	#footer-contacts, 
	#footer-map {
		max-width: 40vw;
	}
}

footer h1 {
	padding-bottom: 24px;
}


.footer-contactText {
	color: black;
}

#footerMenu ul {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	text-align: left;
}

#footerMenu li {
	width: 50%;
	list-style: none;
}

.footerMenu-link {
	text-decoration: none;
	color: black;
}

@media screen and (min-width: 768px) {

	#footerMenu ul {
		text-align: center;
		flex-wrap: nowrap;
		gap: 16px;
		justify-content: space-around;
	}

	#footerMenu li {
		width: auto;
	}

}