
/*	
	------------------------------
	Hero Section 
	------------------------------
*/

#hero-section {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 90vh;
	background-image: linear-gradient(white,#bbb5c3);
	padding-bottom: 0;
	padding-top: 0;
}

#hero-section__info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: wrap;
	text-align: center;
}

#quote-author {
	margin: 0;
	text-align: right;
}

#hero-section__image-container {
	/* Without setting height to any value (1 px in this case)
	the flex property doesn't work properly for some reason */
	height: 1px;
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
}

#hero-section__image-container img {
	height: 100%;
}

/* Responsiveness */

@media screen and (min-width: 768px) {
	
	#hero-section {
		flex-direction: row;
		align-items: center;
	}

	#hero-section__info {
		width: 50%;
	}
	
	#hero-section__image-container {
		height: 70%;
		width: 50%;
		align-self: flex-end;
	}
}

/*	
	------------------------------
	Google Reviews Section 
	------------------------------
*/

#reviews {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 8px;
}

.review {
	transition: var(--global-transition);
}
.review:hover {
	transform: var(--global-transform);
}

.reviewbody {
	max-width: 350px;
	height: 140px;
	background-color: #efefef;
	padding: 14px;
	border-radius: 8px;
	overflow-y: auto;
}

.reviewbody ul {
	display: inline;
	padding: 0px;
	list-style-type: none;
}

.reviewbody li {
	display: inline;
}

.star {
	width: 20px;
	height: 20px;
}

.ggl {
	width: 20px;
	height: 20px;
	float: right;
}

.reviewbody p {
	font-family: 'Open Sans';
	font-size: 16px;
}

.review .triangle {
	width: 0px;
	height: 0px;
	border: 12px solid transparent;
	border-top: 12px solid #efefef;
	border-bottom: 0px;
	position: relative;
	left: 20px;
}

.photo {
	width: 45px;
	height: 45px;
	position: relative;
	left: 10px;
	top: 8px;
}

#googlereviewssection .review>p {
	font-family: 'Open Sans';
	font-weight: bold;
	height: 45px;
	position: relative;
	left: 20px;
	display: inline-block;
	vertical-align: middle;
}


/*	
	------------------------------
	Insurances Section 
	------------------------------
*/

#insurances-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#insurances-section p {
	text-align: center;
}

.insurance-logo {
	width: 150px;
	object-fit: contain;
	transition: var(--global-transition);
}

.insurance-logo:hover {
	transform: var(--global-transform);
}

/*	
	------------------------------
	Dental Services Section 
	------------------------------
*/

#dental-services-button {
	justify-content: flex-end;
}

/*	
	------------------------------
	You Are In Safe Hands Section 
	------------------------------
*/

#safe-hands-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#safe-hands-image {
	max-width: 80vw;
	margin: 16px;
}

@media screen and (min-width: 768px) {
	
	#safe-hands-image {
		max-width: 35vw;
	}
	
	#safe-hands-container {
		flex-wrap: nowrap;
	}
}

/*	
	------------------------------
	Floating WhatsApp Button
	------------------------------
*/

/* The following prevents the overflow of Whatsapp Button.
		Which has its starting animation position 
		beyond the viewport to the right. */
body, section {
	overflow-x: hidden;
}

@keyframes whatsapp-button-appear-animation {
	from {
		transform: 
			translateX(200px) 
			rotate(360deg);
	}
	to {
		transform: 
			translateX(0)
			rotate(0deg);
	}
}

#whatsapp-button {
	width: 60px;
	height: 60px;
	position: sticky;
	float: right;
	bottom: 6vh;
	margin-right: var(--global-horizontal-padding);

	animation-name: whatsapp-button-appear-animation;
	animation-timing-function: ease-out;
	animation-duration: 0.8s;
	animation-delay: 2s;
	animation-fill-mode: backwards;

}

#whatsapp-button img{
	width: 60px;
	box-shadow: var(--global-box-shadow);
	border-radius: 22%;
	transition: var(--global-transition);
}

#whatsapp-button img:hover{
	transform: var(--global-transform);
}

