#phones-container {
	display: flex;
	justify-content: space-evenly;
}

#phones-container a {
	font-size: 22px;
}

#phones-container img {
	width: 22px;
}

#social-icons-container {
	display: flex;
	justify-content: center;
	gap: 32px;
}


form {
	display: flex;
	flex-direction: column;
	padding: 16px;
}

form .input-field {
	width: 400px;
	height: 30px;
	border: 1px solid black;
	margin-bottom: 16px;
	padding: 12px;
}

form .checkbox-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

/* TO DO  */
form .checkbox-container input{
	height: 30px;
	border: 1px solid black;
}

form .form__button {
	height: 30px;
	width: 200px;
	padding: 12px;
	border: 1px solid black;
}




